[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = https://gitclone.com/github.com/gabime/spdlog.git
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://gitclone.com/github.com/glfw/glfw.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://gitclone.com/github.com/g-truc/glm
[submodule "dependencies/magic_enum"]
	path = dependencies/magic_enum
	url = https://gitclone.com/github.com/Neargye/magic_enum.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://gitclone.com/github.com/ocornut/imgui.git
